.fixed-height-image {
  width: 100%;
  max-height: 300px; /* Set the maximum desired height for the container */
  object-fit: contain;
}

.card {
  width: 400px;
  max-width: 60vh;
}

.postPage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: linear-gradient(to right, #f0f5f5, #d1e0e0);
  padding: 0%;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.price-rating-count {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}

.card-action {
  display: flex;
  justify-content: space-between;
}
